img{
    width: 300px;
    height: 300px;
    transition: .5s;
    margin: 5px;
    display: block;
}
img:hover{
    border: 1px solid #99ff15;
}
.content{
    width: 82%;
    flex-wrap: wrap;
    background-color: rgb(180, 180, 180);
    display: flex;
    margin-left: 10%;
}
