.a{
    display: block;
    width: 300px;
    height: 100px;
    margin: auto;
    border: 3px dashed green;
    line-height: 100%;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}
img.b{
    display: block;
    width: 85%;
    height: auto;
    margin: 10px auto 0;
    animation: image 4s linear backwards;
}

@keyframes image{
    from {opacity: 0;}
    to {opacity: 1;}
}

